# Nocturne/requirements.txt

# data retreival
requests

# feature engineering 
numpy 
pandas 
pyyaml 

# clustering
matplotlib
scikit-learn

# modeling
joblib
ollama

# visualization & UI
streamlit
plotly
bottleneck>=1.3.6
watchdog
flask

# testing
pytest
pytest-cov
